<div class="container-fluid">
    <div class="row" style="height: 50vh;">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Order Date</th>
                        <th>Fuel Type</th>
                        <th>Request Qty</th>
                        <th>Allocate Date</th>
                        <th>Schedule Date</th>
                        <th>Status</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{order.orderId}}</td>
                        <td>{{order.requestDate | date : "yyyy-MM-dd" }}</td>
                        <td>{{order.fuelType}}</td>
                        <td>{{order.requestQty}}</td>
                        <td>{{order.allocationDate | date : "yyyy-MM-dd" }}</td>
                        <td>{{order.scheduleDate | date : "yyyy-MM-dd" }}</td>
                        <td>{{order.status}}</td>
                        <td>
                            <app-dispatch-order [orderKey]="order.orderId"></app-dispatch-order>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>